@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */

:root {
  --background: #f3f3f3;
  --foreground: #000;

  --text-primary: #000;
  --text-secondary: #a5a5a5;

  --primary: #3f77fd;
  --secondary: #fabe05;
  --accent: #4fa640;
  --highlight: #c440ff;

  --card: #fff;
  --card-popover: #f2f6ff;
  --card-popover-text: #434448;
}

html[data-theme="dark"] {
  --background: #23232c;
  --foreground: #fff;

  --text-primary: #fff;
  --text-secondary: #a5a5a5;

  --card: #1d1d29;
}
